$button_color: #FF4E50;
$main_text_color: #FFFFFF;
$text_link_color:#E3E3E3;
$text_content_titl: #444444;
$main_title_color:#F7F3F2;
$text_hobby_color:#666666;
$text_search: #999999;
$border_search:#D4D4D4;
$line:#FF4E50;
$logo_text_small: #CCCCCC;

